/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navbar{
  display: flex;
    background-color: blue;
    color: white;
}
/* .nav-items{
  margin-left: 400px;
} */
.navbar h3{
  margin-left: 25px;
  margin-right: 40%;
}
.navbar span{
  margin-right: 100px;
  font-weight: 500 ;
}
#nav-items{
  display: flex;
  align-items: center;
}
.form-component{
  display: flex;
    flex-direction: column;
    margin: 6%;
    background-color: brown;
    padding: 5%;
    width: 25%;
}
.city-selected{
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: -48%;
  background-color: brown;
  padding: 5%;
  width: 25%;
  height: 413px;
  margin-right: 15%;
}
.city-selected h3{
  padding: 15%;
}

.single-city p{
 background-color: white;
 border-radius: 5px;
}

/* #marshall-item{
  background-color: white;
 border-radius: 5px;
} */
.single-city img{
 /* display: inline-block; */
 height: 25px;
 float: right;
 padding: 16px;

}
.single-city h4{
  display: inline-block;
  padding-left: 5px;
}